version: 1.0.{build}
image: Visual Studio 2015
init:
- appveyor version
before_build:
- ps: dotnet restore
build:

  include_nuget_references: true
  verbosity: minimal
artifacts:
- path: src\FaradAzure\bin\Release
  name: FaradAzureArtifacts

deploy:
+on_success:
 +- dir src\FaradAzure\bin\Release
 +- echo: yay!
