version: 1.0.{build}
image: Visual Studio 2015
init:
- appveyor version

cache: C:\Users\appveyor\.nuget\packages

before_build:
- ps: dotnet restore
build:

  include_nuget_references: true
  verbosity: minimal
  
after_build:
- dir/s
- dotnet publish FaradAzure -o AppOutput\FaradAzure --configuration Release 
- dir AppOutput\FaradAzure\wwwroot
- type AppOutput\FaradAzure\wwwroot\web.config

artifacts:
- path: src\FaradAzure\bin\Release
  name: FaradAzureArtifacts

deploy:

on_success:
 - dir ''%appveyor_build_folder%\AppOutput\DeployTest\wwwroot''
 - echo: yay!
