version: 1.0.{build}
image: Visual Studio 2015
init:
- appveyor version

configuration: Release

cache: C:\Users\appveyor\.nuget\packages

before_build:
#- ps: dotnet restore
build:

  include_nuget_references: true
  verbosity: minimal
  
after_build:
- dotnet publish src\FaradAzure\project.json -o AppOutput\FaradAzure --configuration Release 

artifacts:
- path: AppOutput\FaradAzure
  name: FaradAzureArtifacts

deploy:
- provider: WebDeploy
  server: https://faradazure.scm.azurewebsites.net/msdeploy.axd
  website: faradazure
  username: $faradazure
  password:
    secure: TWBudPLm0AmwnhESbdoMoh8BM2NGA5eic6krSMBQgjMS+uhnbINvHKSCWTU6PccdlerOlPGwKhdgXTa9BUXt6g==
  artifact: FaradAzureArtifacts
  aspnet_core: true
  aspnet_core_force_restart: true


on_success:
 - echo yay!
