version: 1.0.{build}
image: Visual Studio 2015
init:
- appveyor version

configuration: Release

cache: C:\Users\appveyor\.nuget\packages

before_build:
- ps: dotnet restore
build:

  include_nuget_references: true
  verbosity: minimal
  
after_build:
- dir/s
- dotnet publish src\FaradAzure\project.json -o AppOutput\FaradAzure --configuration Release 
- dir AppOutput\FaradAzure\wwwroot

artifacts:
- path: AppOutput\FaradAzure\wwwroot
  name: FaradAzureArtifacts

deploy:

on_success:
 - dir AppOutput\FaradAzure\wwwroot
 - echo: yay!
