version: 1.0.{build}
image: Visual Studio 2015
before_build:
- ps: dotnet restore
build:
  publish_wap: true
  publish_azure: true
  publish_nuget: true
  publish_nuget_symbols: true
  include_nuget_references: true
  verbosity: detailed
artifacts:
- path: Faradazure.cspkg
  name: FaradAzure
on_success:
- cmd: dir/s
