version: 1.0.{build}
image: Visual Studio 2015
init:
- appveyor version

configuration: Release

cache: C:\Users\appveyor\.nuget\packages

before_build:
#- ps: dotnet restore
build:

  include_nuget_references: true
  verbosity: minimal
  
after_build:
- dir/s
- dotnet publish src\FaradAzure\project.json -o AppOutput\FaradAzure --configuration Release 
- dir AppOutput\FaradAzure

artifacts:
- path: AppOutput\FaradAzure
  name: FaradAzureArtifacts

deploy:
- provider: WebDeploy
  server: http://faradazure.azurewebsites.net
  website: faradazure
  username: storchia@outlook.com
  password:
    secure: QrkqA5ZbBzcMomKdEGgPGA==
  artifact: FaradAzureArtifacts
  aspnet_core: true


on_success:
 - dir AppOutput\FaradAzure\wwwroot
 - echo yay!
